@import 'src/data/variables.module.scss';

.forecastCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 26px;

  @media screen and (max-width: 639px) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
  }
}

.forecastCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 18px 22px;

  background-color: $blue;
}

.day {
  margin-bottom: 10px;
}

.temp {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin-top: 31px;
}