@import "src/data/variables.module.scss";

$search: "../../data/icons/search.svg";
$close: "../../data/icons/close.svg";
$chevron: "../../data/icons/chevron_right.svg";

.search {
  padding: 20px 46px;

  background-color: $blue;

  @media screen and (max-width: 639px) {
    min-height: 100vh;
    padding: 20px 40px;
  }
}

.closeButtonWrapper {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 30px;
}

.closeButton {
  @include button;

  width: 25px;
  height: 25px;

  background-color: $blue;
  background-image: url($close);
  background-size: contain;
  color: $white;
}

.searchForm {
  position: relative;
  display: flex;
  justify-content: space-between;

  height: 48px;
  margin-bottom: 30px;

  &::before {
    @include pseudoImage(17px, 17px, $search);
    top: 15px;
    left: 15px;
  }
}

.searchInput {
  @include text(500, 16px, 21px, $gray);

  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: 50px;
  border: 1px solid $gray;

  background-color: $blue;

  &:focus-visible {
    outline: none;
  }
}

.searchSubmit {
  @include button;
  @include text();

  position: relative;

  height: 100%;
  margin-left: 12px;

  background-color: #3c47e9;
}

.clearButtonWrapper {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 10px;
}

.clearButton {
  @include button;
  @include text($color: $gray);

  background: $blue;
}

.citiesList {
  margin: 0;
  padding: 0;
}

.cityItem {
  position: relative;
  list-style: none;

  &:hover {
    &::before {
      @include pseudoImage(30px, 30px, $chevron);
      top: 6px;
      right: 3px;
    }
  }
}

.cityButton {
  @include text();

  width: 100%;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;

  text-align: left;
  background-color: $blue;

  &:hover {
    border: 1px solid #616475;
    cursor: pointer;
  }
}
