@import 'src/data/variables.module.scss';

.current {
  padding: 42px 46px;

  background-color: $blue;

  @media screen and (max-width: 639px) {
    height: 100vh;
    padding: 40px 40px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  height: 40px;
}

.search_button {
  @include button;
  @include text();

  padding: 11px 18px 10px;
  border: none;

  background-color: $gray;
}

.location_button {
  @include button;

  padding: 0;
  margin: 0;
  border-radius: 50%;

  background-color: $gray;
  color: white;

}

.locationIcon {
  width: 22px;
  height: 22px;
  padding: 9px;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentWeatherImage {
  width: 100%;
  max-width: 150px;
  margin: 50px 40px 0;
}

.temperature {
  @include text(400, 48px, 56px, $gray);
}

.number {
  @include text(500, 144px, 169px, $white);
}

.unitMeasure {
  @include text(400, 48px, 56px, $gray);
}

.cloudiness {
  @include text(600, 36px, 42px, $gray);
  margin-top: 50px;
}

.date {
  @include text(500, 18px, 21px, $gray);
  margin-top: 50px;
}

.place {
  @include text(600, 18px, 21px, $gray);

  margin-top: 32px;
  margin-bottom: 30px;
}