$white: #ffffff;
$gray: #6e707a;
$blue: #1e213a;
$dark_blue: #100e1d;

@mixin button {
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }
}

@mixin text($weight: 500, $size: 16px, $lineHeight: 19px, $color: $white) {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
}

@mixin pseudoImage($height, $width, $url) {
  position: absolute;
  content: "";
  display: block;
  height: $height;
  width: $width;
  z-index: 1;
  background-image: url($url);
  background-size: contain;
  pointer-events: none;
}
